body {
    background-color: #020202;
    color: #9DA2AB;
    margin: 0px;
    padding: 0px;
}
#content {    
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#banner {
    width: 100%;
    background-color: #0D324D;
    color: #A188A6;
}
#banner h1 {
    margin-left: 1em;
}
svg {
    width: 100%;
    flex-grow: 1;
    background-color: #7F5A83;
}
