body {
    background-color: #728639;
    color: #062E03;
    margin: 0px;
}
.hidden {
    display: none;
}
#playing-field {
    height: 100%;
    width: 100%;
    padding: 0px;
}
#banner {
    color: #062E03;
    background-color: #FF964F;
    padding: 0.5em 2em 1em;
}
#banner button {
    color: #062E03;
    background-color: #FF964F;
    border-color: #062E03;
    border-style: solid;    
    border-radius: 2px;
    font-size: 1.25em;
    padding: 0.25em 0.75em;        
    margin-top: 0.5em;
    margin-left: 0.5em;
    cursor: pointer;
}
h1 {
    text-transform: uppercase;
}
#current-place {
    display: inline-block;
    width: 45%;
    padding: 1em;
}
#target-place {
    width: 20%;
    display: inline-block;
    padding: 1em;
}
h2 {
    text-transform: uppercase;    
}
.description {
    background-color: #062E03;
    color: #FF964F;
    margin-bottom: 1em;
    min-height: 4em;
    padding: 1em 0.5em 1.5em;
    border-radius: 10px;
    font-weight: bold;
}
#current-place-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    align-items: initial;
    justify-content: flex-start;
}
.link {
    font-size: 0.9em;
    border-color: #062E03;
    color: #062E03;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    margin: 0.5em;
    padding: 0.25em 1em;
    cursor: pointer;    
}

.link-target {
    color: #FF964F;
    background-color: #062E03;
}

.link-visited {
    background-color: #FF964F;
}

#stats {
    background-color: #062E03;
    color: #728639;
    flex-grow: 1;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}
.spacer {
    flex-grow: 1000;
    flex-shrink: 1000;
}
#map {
    display: inline-block;
    padding: 1em;
    width: 25%;
}
#visited {
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    align-items: initial;
    justify-content: flex-start;
}
#pages-counter {
    margin-left: 1em;
}
.instructions {
    position: absolute;
    top: 2em;
    left: 2em;
    right: 2em;
    color: #FF964F;
    background-color: #062E03;
    padding: 2em;
    border-radius: 10px;
    z-index: 1200;
}
.instructions button {
    font-size: 1.5em;
    color: #062E03;
    border: none;
    border-radius: 5px;
    background-color: #728639;
    padding: 0.25em 2em;
    cursor: pointer;
}
.busy {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #FF964F;
    display: flex;
    justify-content: center;
    justify-items: center;
}
#navigating {
    font-size: 4em;
    background-color: #062E03;
    color: #728639;
    padding: 1em 2em;
    border-radius: 10px;
    align-self: center;
}
#congratulations {
    font-size: 2em;
    font-weight: bold;
    text-transform: capitalize;
    color: #062E03;
    text-shadow: 2px 2px #FF964F;
    padding: 1em;
}
.languages {
    position: absolute;
    top: 2em;
    left: 2em;
    right: 2em;
    color: #FF964F;
    background-color: #062E03;
    padding: 2em;
    border-radius: 10px;
    z-index: 1200;
}
.languages button {
    font-size: 1.5em;
    color: #062E03;
    border: none;
    border-radius: 5px;
    background-color: #728639;
    padding: 0.25em 2em;
    cursor: pointer;
    display: block;
    margin: 0.5em;
}
.custom-game {
    position: absolute;
    top: 2em;
    left: 2em;
    right: 2em;
    color: #FF964F;
    background-color: #062E03;
    padding: 2em;
    border-radius: 10px;
    z-index: 1200;
}
.custom-game input {
    font-size: 1.25em;
    color: #062E03;
    border: none;
    border-radius: 5px;
    background-color: #FF964F;
    padding: 0.25em 2em;
    cursor: pointer;
    display: block;
    margin: 0.5em;
}
.custom-game button {
    font-size: 1.5em;
    color: #062E03;
    border: none;
    border-radius: 5px;
    background-color: #728639;
    padding: 0.25em 2em;
    cursor: pointer;
    display: block;
    margin: 0.5em;
}
#custom-game-error {
    font-size: 1em;
    color: #728639;
    margin: 0.5em 1.5em;
}

